html {
  scroll-behavior: smooth;
}

/* Garis horizontal di sebelah teks */
.horizontal-line::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 3px;
  margin-left: 15px;
  background-color: black;
}

.square-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}